#footerbox1{
    width: 187.5px;
    height: 56px;
}

#leftarrow{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 5px;
}