#results_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 375px;
    height: 812px;
}

.home_button {
    cursor: pointer;
    position: relative;
    bottom: 50px;
}

.results_header{
    position: relative;
        top: 60px;
        margin-bottom: 60px;
}