#results_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 375px;
    height: 812px;
}

.home_button {
    position: absolute;
    bottom: 140px;
}