.header {
    display: flex;
    width:375px;
    height:87px;
    background-color: #80ad4d;
    border-radius:0px 0px 22px 22px;
}
.logo {
   width:80px;
   height:80px;
    position: relative;
    left:270px;
    
}
.leftarrow{
   position: relative;
   bottom:55px;
}