.main2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 812px;
}
.page2_header{
    margin-bottom: 35px;
    position: relative;
    bottom: 62px;
}
.imageOne{
    position: relative;
    bottom: 57px;
}
.imageTwo{
    position: relative;
    bottom: 37px;
}
.buttonOne{
    position: relative;
    bottom: 57px;
}
.buttonTwo{
    position: relative;
    bottom: 30px;
}
.questionOne{
    position: relative;
    bottom: 62px;
    margin-bottom: 30px;
}
.homeButton {
    cursor: pointer;
    position: relative;
    bottom: 0px;
}