.vehiclePage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 812px;
}

.headerVehicletype{
    position: relative;
    top: 0;
    margin-bottom: 35px;
}
.questions{
    margin-bottom: 20px;
}

.imgB{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.imgB:hover{
    cursor: pointer;
}

.txt_button{
    position: relative;
    bottom: 20px;
    z-index: 4;
}

.roundHome{
    cursor: pointer;
    z-index: 3;
}
