.vehiclePage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 375px;
    height: 812px;
}

.header{
    margin-bottom: 15px;
}
.questions{
    margin-bottom: 20px;
}

.imgB{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.imgB:hover{
    cursor: pointer;
}

.txt_button{
    position: relative;
    bottom: 20px;
    z-index: 4;
}

.roundHome{
    cursor: pointer;
    z-index: 3;
}

.footerB{
    position: absolute;
    top: 780px; 
    z-index: 2;
    left: 5px;
    z-index: 2
}

.footerF{
    position: absolute;
    top: 780px;  
    left: 5px;
    z-index: 1;
}