.header_donation_page {
    position: absolute;
    top: 0;
}

#donation_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 375px;
    height: 812px;
}

#donation_page a {
    text-decoration: none;
}